:root {
	--roxo: #4a149c;
	--roxo-médio: #6a1b9a;
	--roxo-claro: #f3e5f5;
}

.footer {
	background: var(--roxo);
	padding: 40px 20px;
	font-family: Arial, sans-serif;
  color: white;
}

.footer-container {
	max-width: 1100px;
	margin: auto;
}

/* Topo */
.footer-top {
	text-align: center;
	margin-bottom: 40px;
}

.footer-logo {
	width: 80px;
	margin-bottom: 15px;
  cursor: pointer;
}

.footer-logo:hover {
  transform: scale(1.05);
}

.footer-btn {
	border: 1px solid var(--roxo-claro);
	background: transparent;
	color: var(--roxo-claro);
	padding: 10px 25px;
	border-radius: 20px;
	cursor: pointer;
}

/* Grid */
.footer-grid {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	margin-bottom: 40px;
}

.footer-col {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footer-col h4 {
	margin-bottom: 10px;
	font-size: 14px;
  cursor: default;
}

.footer-col a {
	text-decoration: none;
	font-size: 14px;
  color: white;
  cursor: pointer;
}

.footer-col a:hover {
	text-decoration: underline;
  font-weight: bold;
}

/* Redes sociais */
.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  gap: 8px;
}

.socials a {
  display: flex;
	font-size: 14px;
  align-items: center;
  gap: 8px;
}

/* Bottom */
.footer-bottom {
	text-align: center;
	font-size: 12px;
  cursor: default;
}
